.place__paragraph {
  margin: 0 0 26px 0;
  font-size: 18px;
  line-height: 29.32px;
  font-weight: normal;
  color: #ffffff;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}


@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width: 640px) {
  .place__paragraph {
    margin: 0 0 25px 0;
  }
}