.intro {
  margin: 0 auto;
  max-width: 984px;
  padding: 92px 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 64px 16px;
  }
}
