.place {
  display: grid;
  grid-template-columns: 1fr minmax(30ch, 1fr);
  gap: 48px 40px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 48px 32px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 48px 28px;
    padding-bottom: 73px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
    padding-bottom: 50px;
  }
}

.place:last-of-type {
  margin-bottom: 0;
}
